{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
    <title>Terminos y condiciones</title>
</head>
<body class="bg-light">

    <div class="container p-3">
        <h1>Terminos y condiciones</h1>
        <div class="form-group">
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam vel diam aliquet, condimentum leo id, malesuada magna. 
                Phasellus lorem justo, consectetur in consectetur vel, sagittis placerat sem. 
                Integer tempor sollicitudin purus, vel varius metus facilisis sed. Praesent a lectus dolor. 
                Phasellus eu velit in justo rhoncus euismod at eu erat. 
                Aliquam lobortis fringilla velit, ac vehicula libero. 
                Quisque molestie ac risus sit amet hendrerit. 
                Suspendisse dapibus mauris eu nisl bibendum, a lobortis odio sollicitudin. 
                Ut efficitur dui erat, non egestas felis pulvinar dictum. 
                Integer et elit id lorem ultricies accumsan nec ac eros. Sed elementum magna vel vehicula semper. 
                Nulla ornare est risus, et aliquam metus lobortis ut. Quisque pretium rhoncus magna eu viverra. 
                Sed ut molestie diam, a facilisis lacus. Sed at tortor eget ipsum suscipit ultricies. 
                Ut vel arcu suscipit, varius libero at, pellentesque erat. 
            </p>
            <p class="text-justify"> 
                In vitae nunc laoreet, sollicitudin orci sed, consequat dui. 
                Nunc semper vulputate metus. Integer placerat elementum mattis. 
                Sed in ultrices turpis, at lacinia arcu. Nam non mi sit amet elit luctus convallis nec sed erat. 
                In non porttitor leo, ac ornare tortor. Ut egestas massa metus, id suscipit ante suscipit ut. 
                Suspendisse varius nulla sit amet nisl aliquam facilisis. Donec suscipit mollis dui id vehicula. 
                Maecenas pulvinar, eros eget tempor pharetra, justo leo accumsan sem, a commodo neque nisl ut ligula.
                Vivamus tristique feugiat nulla nec gravida. Phasellus nisi ipsum, laoreet ut massa non, pretium dignissim eros. 
                Nulla quis metus volutpat, sollicitudin elit quis, blandit massa.
                Maecenas ac massa porttitor, ultricies metus nec, laoreet neque. 
                Ut ipsum mauris, bibendum nec odio id, commodo consequat tellus. 
                Curabitur nulla lectus, eleifend quis nulla sed, elementum mollis ligula.
            </p>
            <p class="text-justify">
                Suspendisse non libero sit amet augue porta vestibulum ac at risus. 
                Duis lacinia malesuada molestie. Fusce finibus placerat justo, a vulputate nibh interdum non. 
                Vivamus non maximus dui, sit amet cursus lacus. Phasellus consequat ex eget dolor dignissim efficitur. 
                Praesent mollis leo dui, vitae maximus felis posuere ut. Curabitur efficitur dui ac leo ullamcorper sodales. 
                Aliquam faucibus porta ipsum, sit amet fermentum orci hendrerit non. Suspendisse scelerisque eget odio et bibendum. 
                Nam in eros eu metus ultricies porttitor. 
                Proin venenatis, nunc a rutrum aliquam, nisi erat consequat dolor, a malesuada augue libero sit amet ligula. 
                Donec molestie orci sit amet diam commodo ultricies. Cras pulvinar nulla risus, vel euismod risus luctus et. 
                Cras nisl tellus, convallis a auctor sit amet, feugiat in arcu. In ullamcorper ligula ornare vehicula lobortis. 
                Nulla vel ipsum lorem.
            </p>    
            <p class="text-justify">
                Vivamus aliquam metus odio, vel placerat velit pulvinar quis. 
                Maecenas condimentum commodo turpis, in sodales magna sagittis in. 
                Integer erat augue, eleifend at interdum ac, efficitur at libero. Vivamus sed congue quam, nec varius risus. 
                Morbi scelerisque venenatis posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
                Vivamus placerat auctor lobortis. Etiam velit mauris, bibendum vitae sodales quis, placerat in felis. 
                Maecenas in est a enim condimentum sagittis. Nam ultrices lectus vitae massa dignissim vulputate. Pellentesque eu placerat risus. 
                Proin venenatis aliquet ipsum, at lobortis massa pretium gravida. Nam luctus maximus ornare.
            </p>
            <p class="text-justify">
                Aliquam facilisis auctor semper. Phasellus in felis lacus. 
                Pellentesque convallis, eros suscipit efficitur ultrices, purus nulla maximus lorem, dapibus ultricies tellus ligula vel mauris. 
                Quisque gravida eros a neque egestas bibendum. 
                Ut lobortis, ligula a euismod sagittis, nulla elit ullamcorper nunc, vel feugiat nisl orci nec magna.
                Donec ut nibh quis ipsum placerat volutpat. Cras sapien libero, elementum eget ligula non, consequat pretium neque. 
                Nullam sapien nunc, congue non accumsan ut, accumsan id dui. Sed facilisis a velit id pharetra. Mauris a ultrices leo. 
                Suspendisse potenti. Mauris pharetra, odio vitae laoreet feugiat, libero est accumsan augue, eget tristique ex nunc ut dolor. 
                Praesent eu ornare odio.
            </p>
        </div>
        <div class="pager">
            <a href="{% url 'registro' %}"><button class="btn btn-primary btn-block">Regresar</button></a>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>  
</body>
</html>